.modalBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 23px;
  align-items: center;
  padding: 5px 8px;
  border-bottom: 1px solid black;
  background-color: $pink-dark;
}

.close {
  width: 13px;
  height: 13px;
  padding: 5px;
  border: 1px solid black;
  background-image: url("/images/close.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -2px;
}

.close:active {
  @include button-style-active;
}

.stripe {
  width: 100%;
  height: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;

  span {
    display: block;
    height: 1px;
    background-color: black;
  }
}

.title {
  font-size: 12px;
}
