.about {
  padding: 35px 20px;
  width: 400px;
  // font-weight: bold;

  h2 {
    font-size: 20px;
    margin-bottom: 25px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .buttonContainer {
    display: flex;
    gap: 10px;
  }

  .button {
    @include button-style;
  }

  .button:active {
    @include button-style-active;
  }
}
