.about {
  padding: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    word-break: keep-all;
    margin-bottom: 15px;
  }

  .contact {
    @include button-style;
  }

  .contact:active {
    @include button-style-active;
  }
}
