.draggable {
  position: absolute;
  top: 50%;
  left: 50%;

  @include mobile {
    width: 90%;
  }
}

.modal {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  color: black;
  background-color: $pink;
}

.modalBody {
  position: relative;
  // padding: 6px;
  width: 100%;
  margin-top: -5px;
}

.main {
  @include tablet {
    display: none;
  }
}
