.background {
  height: 100vh;
  background-image: url("/images/back2.jpg");
  // background-image: url("/images/wallpaper1.jpg");
  // background-image: url("https://cdn.dribbble.com/users/3228050/screenshots/8001113/media/e85175f7fe3615ba9b8dd073c88cc5ca.jpg?resize=1600x1200&vertical=center");
  // background-image: url("https://cdn.dribbble.com/users/3228050/screenshots/10870423/media/aab2fcac69ec4809f3f50cc440233b83.png?resize=1600x1200&vertical=center");
  // background-color: pink;
  background-position: center;
  background-size: cover;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 10px;
  padding: 40px 24px;
}

.infiniteLooper {
  display: none;

  @include tablet {
    display: block;
  }
}
