.infiniteLooper {
  background-color: black;
  padding: 3px 5px;
}

.infiniteLooperInner {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  color: white;

  span {
    animation: textLoop 1s linear infinite;
    font-size: 12px;
    padding-right: 10px;
  }
}

@keyframes textLoop {
  0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
  }
  100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0)
  }
}
