.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.right,
.left {
  display: flex;
  font-size: 12px;

  li {
    padding: 0 8px;
    height: 23px;
    display: flex;
    align-items: center;
  }
}

.right {
  li {
    border-right: 1px solid black;
  }
}

.left {
  li {
    border-left: 1px solid black;
  }
}

.fullScreen {
  font-size: 12px;
  position: relative;
  padding-left: 20px;
  margin-top: 1px;
}

.fullScreen::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 10px;
  background-image: url("/images/fullscreen.png");
  top: 3px;
  left: 0;
}


