.contact {
  width: 500px;
  padding: 20px;

  @include mobile {
    width: 100%;
  }

  h2,
  .emailInput,
  .subjectInput,
  .messageInput {
    margin-bottom: 10px;
  }

  .emailInput,
  .subjectInput {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
      height: 25px;
    }
  }

  label {
    font-size: 12px;
    width: 50px;
  }

  input,
  textarea {
    border: 1px solid black;
    border-radius: 2px;
  }

  .messageInput {
    textarea {
      width: 100%;
      height: 200px;
      padding: 10px;
    }
  }

  .button {
    @include button-style;
  }

  .button:hover {
    @include button-style-hover;
  }
}
