.about {
  width: 300px;
  padding: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    word-break: keep-all;
    margin-bottom: 15px;
  }
  .contact {
    width: 100%;
    border: 1px solid black;
    padding: 7px;
    border-radius: 4px;
    font-size: 12px;
  }
  .contact:hover {
    background-color: $pink-hover;
  }
}
