.contact {
  width: 500px;
  padding: 35px 20px;
  background-color: #e0e0e0;

  @include mobile {
    width: 100%;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .emailInput,
  .subjectInput {
    margin-bottom: 10px;
  }

  .messageInput {
    margin-bottom: 30px;
  }

  .emailInput,
  .subjectInput {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
      height: 30px;
      // padding: 10px;
    }
  }

  label {
    font-size: 12px;
    width: 50px;
  }

  input,
  textarea {
    border: 1.5px solid black;
    font-size: 16px;
    padding: 10px;
    box-shadow: 1px 1px #fff, -1px -1px #bbb;
    border-radius: 2px;
  }

  input::placeholder,
  textarea::placeholder {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }

  .messageInput {
    textarea {
      width: 100%;
      height: 200px;
      // padding: 10px;
    }
  }

  .button {
    @include button-style;
  }

  .button:active {
    @include button-style-active;
  }
}
