@mixin tablet {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin button-style {
  width: 100%;
  border: 1px solid black;
  padding: 7px;
  border-radius: 4px;
  font-size: 12px;
}

@mixin button-style-active {
  background-color: black;
  color: white;
}
