.iconBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 93px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.iconBox:active {
  background-color: rgb(251, 215, 255);
}

.icon {
  position: relative;
  width: 34px;
  height: 34px;
  margin-bottom: 5px;
}

.title {
  color: black;
  // background-color: white;
  white-space: nowrap;
  border-radius: 1px;
  margin-top: 4px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}
